.timelineContainer {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  
  .timelinee {
    position: relative;
    width: 100%;
}
  
.top-blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 100px;
    align-items: flex-end;
}
.bottom-blocks {
    display: flex;
    justify-content: space-around;
}
.timeline-block {
    padding: 12px 40px;
} 
.timeline-pointer {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid inherit;
    transform: translateX(-50%);
  }
  .timeline-progress {
    background: #8ED3C0;
    height: 10px;
    width: 30%;
}
  .timeline-line {
    position: relative;
    width: 100%;
    height: 10px;
    background: #D4D5D980;
    margin-top: 2rem;
}
.timeline-block {
  
  position: relative;
}
.timeline-slider {
  position: absolute;
  left: 30%;
  width: 35px;
  height: 35px;
  background-color: #fbfbfb;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #8ed3c0;
}
  
.timeline-year {
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  color: #B4B4B4;
  margin-top: 1rem;
  width: 200px;
  font-weight: bold;
}

  .declarant-slider .slider-image {
    padding: 0; /* Remove padding */
    overflow: hidden; /* Hide overflow */
    width: 100%; /* Ensure full width for each image */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .declarant-slider .slider-image img {
    width: 100%; /* Set a fixed width */
    height: 250px; /* Set a fixed height - adjust as needed */
    object-fit: cover; /* Crop to fill without stretching */
  }
  .timeline-block:before {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    border: 20px solid #ffffff00;
    border-top-color: #feefcc;
}

.bottom-blocks {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #c2c2c2;
  margin-top: 40px;
}

@media screen and (max-width: 576px) {
.top-blocks {
  gap: 15px;
}
.timeline-block {
  padding: 6px 6px;
}
.timeline-block p {
  font-size: 14px;
}
}